<!DOCTYPE html>
<html lang=’es’>
<head>
<title>Lista de bebidas de ejemplo</title>
<meta charset=’utf-8’>
</head>
<body>

<header>
	<nav>
		<ul>
			<li><a href='/'>Inicio</a></li>
			<li><a href='/usuarios'>Usuarios registrados</a></li>
			<li><a href='/recetas'>Recetas</a></li>
			<li><a href='/sobre'>sobre</a></li>
		</ul>
	</nav>
</header>
<section>
	<h1>Colaboradores</h1>
	
	<ul>
		{% for dato in usuarios %}
		<li>{{dato.username}} - <em>{{dato.email}}</em></li>
			<ul>
				{% for item in recetas %}
					{% if item.usuario == dato %}
						<li>{{item}}</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}
	</ul>
</section>

</body>
</html>
